# Environment variables declared in this file are automatically made available em all files

# Every variable in this url refers to database
DATABASE_URL="postgresql://postgres:{password}@{url}:{port}/{name}?schema=public"

# Server port
URL='http://url'
PORT=3002

#Token details
TOKEN_SECRET=eyJhbGciOiJIUzI1NiJ9.eyJSb2xlIjoiQWRtaW4iLCJJc3N1ZXIiOiJJc3N1ZXIiLCJVc2VybmFtZSI6IkphdmFJblVzZSIsImV4cCI6MTY4MDQ2MjE0MiwiaWF0IjoxNjgwNDYyMTQyfQ.jQvqG9g4s94W2mKZY20dsU_OItVkKJ8Me7bTatZoudg
TOKEN_EXPIRATION=7d
